.table_exercise{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.table_exercise h2 {
    font-size: 180%;
    color: white;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);

}

table{
    border: none;
    border-collapse: collapse;
    width: 300px;
}

thead, tfoot{
    background-color: #4e81e7;
    color: white;
}

thead th, tfoot td{
    padding: 7px;
}

tbody td{
    padding: 10px;
     font-weight: 500;
}

tbody tr:nth-child(odd){
    background-color: #eef7ff;
}

tbody tr:nth-child(even){
    background-color: #c4dcf3;
}

.box_shadow_exercise{ 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 58%, #9599E2 100%);
}

.shape{
    height: 60vh;
    width: 40vh;
    background-color: #ee6c52;
    border-radius: 2em;
    box-shadow: 10px 10px lightgray;
}